<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Noko's fruit and veg Supplies</title>
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />
  
</head>
<body>
    <h1 class="logo">  
        <img src="~/images/lg.png" width:100%;height:150%;" />
    </h1>
    <div id="top">
        <div class="shell">
            <div id="header">
                <div class="menu">
                    <div>
                        <ul>
                            <li> @Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                            <li>@Html.ActionLink("Catalogue", "Catalogue", "Home")</li>
                            <li>@Html.ActionLink("Products", "Product", "Home")</li>
                        </ul>



                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="fixedfooter">

        <p>&copy; @DateTime.Now.Year- Created by Noko's fruit and veg Supplies</p>

    </div>


    @RenderBody()

</body>

</html>
