@model The_Supplier.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
