@model IEnumerable<The_Supplier.Models.ShoppingCart>
  @using The_Supplier.Models;
 
@{
    ViewBag.Title = "Cart";
}



<p>
    @Html.ActionLink("Continue Shopping", "Product")
</p>
<table class="table" style="padding:30px;">
    <caption>My basket</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total )
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", new { prodID = item.prodID }) 
            @*@Html.ActionLink("Delete", "Delete", new { isbn = item.IBSN }, null)*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
           
        </td>
        
    </tr>
}

</table>
