<!DOCTYPE HTML>
<html>


@{
    ViewBag.Title = "Product";
}
<head>

</head>
<body>
   
   
    <div class="container">
        @*<header>Our Products</header>*@
         
         
        <section id="content">
            <h1> Our  Fruits and Vegetables </h1>
            @*<a href="~/Home/Cart"><img id="cartImage" src="~/images/cart.png"/></a>@ViewBag.cart*@
     <a href="/Home/Cart"><img id="cartImage" src="~/images/cartss.png"/></a>@ViewBag.cart
           

 
           

            <div class="gallaryHolder">
              
            <div class="gallery">
                <ul>
                   
                    @*<li>

                        @*<a href="#"><img src="~/images/blue-shopping-cart-icon-4.jpg" /></a>*@

                     

                    @*</li>*@
                   
                    <li> 
                    <img src="~/images/lett.png" />
                        <p> Product Id: <span>let01</span></p>
                    @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "545312" })
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "545312" })   
                        
                    </li>
                    <li>
                     <img src="~/images/tom.png"  />
                        <p> Product Id: <span>0989</span></p>
                        @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "0989" })
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "0989" })
                        
                    </li>
                    <li>
                    <img src="~/images/zambane.png" />
                        <p> Product Id: <span>9991</span></p>
                        @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "9991" })
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "9991" })
                        
                    </li>
                    <li>
                    <img src="~/images/pepr.png" />
                        <p> Product Id: <span>Pep01</span></p>
                      @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "909090" })
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "909090" })
                        
                    </li>
                   
                </ul>

               

                <ul>
                  
                     <li>
                    <img src="~/images/appl.png" />
                         <p> Product Id: <span>2345</span></p>
                          @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "2345" })<br />
                         @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "2345" })
                     </li>
                    <li>
                    <img src="~/images/ap.png" />
                        <p> Product Id: <span>let01</span></p>
                        @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "56775" })<br />
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "56775" })
                    </li>
                    <li>
                    <img src="~/images/orange.png" />
                        <p> Product Id: <span>gren01</span></p>
                         @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "org01" })<br />
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "org01" })
                    </li>
                    <li>
                    <img src="~/images/edited.png" />
                        <p> Product Id: <span>ban01</span></p>
                         @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "ban01" })<br />
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "ban01" })
                    </li>
                    <li>
                    <img src="~/images/paw.png" />
                        <p> Product Id: <span>paw01</span></p>
                         @Html.ActionLink("View Details", "ProductDetails", new { ProdID = "1111" })<br />
                        @Html.ActionLink("Add to Cart", "addtocart", new { ProdID = "1111" })
                    </li>

 
                    
                </ul>
            </div>
            </div>
        </section>
         </div>
     
    </div>

</body>
</html>


